<footer class="main-footer">
    <div class="logo-container">
        <a class="logo-link" href="/"><img class="logo-footer" src="/images/icon/logo.png" alt="logo"></a>
    </div>
    <div class="links-container">
        <h3 class="links-title">ENLACES</h3>
        <nav class="links-nav">
            <ul>
                <li><a href="">inicio</a></li>
                <li><a href="">indumentaria</a></li>
                <li><a href="">accesorios</a></li>
                <li><a href="">juguetes</a></li>
            </ul>
        </nav>
    </div>
    <div class="contact-container">
        <h3 class="contact-title">CONTACTO</h3>
        <nav class="contact-nav">
            <ul>
                <li><a href=""><i class="fa-brands fa-square-whatsapp"></i>1163230839</a></li>
                <li><a href="mailto:dokyshop@gmail.com"><i class="fa-solid fa-envelope"></i>dokyshop@gmail.com</a></li>
            </ul>
        </nav>
    </div>
    <div class="socials-container">
        <h3 class="socials-title">REDES SOCIALES</h3>
        <nav class="socials-nav">
            <ul>
                <li><a class="x" href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a class="facebook" href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="instagram" href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="tiktok" href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="newsletter-container">
        <form class="newsletter-form" action="/" method="POST">
            <div class="newsletter-title-container">
                <h3 class="newsletter-title">NEWSLETTER</h3>
            </div>
            <div class="email-container">
                <input type="email" placeholder="correo electronico" name="email" autocomplete="on">
            </div>  
            <div class="suscribe-container">
                <button type="submit">suscribirse</button>
            </div>
        </form>
    </div>
    <div class="copyright-container">
        <p>Copyright DOKYSHOP - 2024. Todos los derechos reservados.</p>
    </div>
</footer>