<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {view: "Articulos para mascotas"}) %>

<body>
    <%- include('./partials/header') %>

    <main class="main-home">
        <!-- Carrusel -->
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/products/carrousel-1.png" class="d-block w-100" alt="Indumentaria">
                    <div class="carousel-caption d-none d-md-block">
                        <button class="buy-btn">Comprar</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/products/carousel-2.png" class="d-block w-100" alt="Nueva Imagen">
                    <div class="carousel-caption d-none d-md-block">
                        <button class="buy-btn">Comprar</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- circulos -->
        <div class="circle">
            <i class="fa-regular fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-regular fa-circle"></i>
        </div>


        <div class="icons-container">
            <div class="icons">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>ENVIOS SIN CARGO</h4>
                <p>Envíos en toda CABA y alrededores</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-dollar-sign"></i>
                <h4>DESCUENTO EXTRA</h4>
                <p>Pagando tus compras en efectivo</p>
            </div>

            <div class="icons">
                <i class="fa-solid fa-credit-card"></i>
                <h4>PAGA CON TARJETA</h4>
                <p>También puedes pagar en cuotas</p>
            </div>
        </div>

        <div class="titles-container">
            <h1 class="welcome-title">BIENVENIDOS A DOKY SHOP</h1>
            <h5 class="sale-title">VENTA DE LOS MEJORES Y MAS LINDOS PRODUCTOS PARA TUS MASCOTAS!</h5>
        </div>

        <div class="container-products">
            <!-- CARD 1 -->
            <article class="product">
                <figure class="product-contenedor">
                    <img src="/images/products/indumentaria.png" alt="Indumentaria" class="product-image">
                </figure>
                <h6 class="product-name">INDUMENTARIA</h6>
             
            </article>
            <!-- CARD 2 -->
            <article class="product">
                <img src="/images/products/accesorios.png" alt="ACCESORIOS" class="product-image accesorios-image">
                <h6 class="product-name">ACCESORIOS</h6>
            </article>

            <!-- CARD 3 -->

            <article class="product">
                <img src="/images/products/juguetes.png" alt="Juguetes" class="product-image">
                <h6 class="product-name">JUGUETES</h6>
            </article>
        </div>

        <div class="recommendedProd-container">
            <h2>Productos recomendados</h2>
            <!-- prod 1 -->
            
            <article class="recommendedProd">
                
                <figure class="recommended-img-container">
                    <a href="productos/detalle-de-producto"><img src="/images/products/relatedProd-01.jpg" alt="recommended products"></a>
                </figure>
                <div class="recommendedProd-description">
                    <a href="/productos/detalle-de-producto">
                        <h5>Juguete Para Gato Pelota Con Motor Y Raton</h5>
                    </a>
                    <p>$ 9.112,00</p>
                    <a class="recommendedProd-buyCart" href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>
            <!-- prod 2 -->
            <article class="recommendedProd">
                <figure class="recommended-img-container">
                    <a href="/productos/detalle-de-producto"><img src="/images/products/relatedProd-02.jpg" alt="recommended products"></a>
                </figure>
                <div class="recommendedProd-description">
                    <a href="/productos/detalle-de-producto">
                        <h5>Juguete Para Gato Pelota Con Motor Y Raton</h5>
                    </a>
                    <p>$ 9.112,00</p>
                    <a class="recommendedProd-buyCart" href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>
            <!-- prod 3 -->
            <article class="recommendedProd">
                <figure class="recommended-img-container">
                    <a href="/productos/detalle-de-producto"><img src="/images/products/relatedProd-03.jpg" alt="recommended products"></a>
                </figure>
                <div class="recommendedProd-description">
                    <a href="/productos/detalle-de-producto">
                        <h5>Juguete Para Gato Pelota Con Motor Y Raton</h5>
                    </a>
                    <p>$ 9.112,00</p>
                    <a class="recommendedProd-buyCart" href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>
            <!-- prod 4 -->
            <article class="recommendedProd">
                <figure class="recommended-img-container">
                    <a href="/productos/detalle-de-producto"><img src="/images/products/relatedProd-04.jpg" alt="recommended products"></a>
                </figure>
                <div class="recommendedProd-description">
                    <h5>
                        <a href="/productos/detalle-de-producto">Juguete Para Gato Pelota Con Motor Y Raton</a>
                    </h5>
                    <p>$ 9.112,00</p>
                    <a class="recommendedProd-buyCart" href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>
        </div>

        <div class="pet-section">
            <div class="image-with-list">
                <img src="/images/products/FAQ.jpg" alt="Mascotas" class="full-width-image">
                <div class="pet-content">
                    <ul class="pet-list">
                        <li>
                            <a href="/preguntas-frecuentes"> <i class="fa-solid fa-paw"></i> PREGUNTAS FRECUENTES:</a>
                        </li>
                        <li>
                            <a href="/preguntas-frecuentes"><i class="fa-solid fa-paw"></i> ¿CÓMO COMPRAR?</a>
                        </li>
                        <li>
                            <a href="/preguntas-frecuentes"><i class="fa-solid fa-paw"></i> ENVIOS</a>
                        </li>
                        <li>
                            <a href="/preguntas-frecuentes"><i class="fa-solid fa-paw"></i> ¿SE PUEDE COMPRAR EN CUOTAS?</a>
                        </li>
                        <li>
                            <a href="/preguntas-frecuentes"><i class="fa-solid fa-paw"></i> MEDIOS DE PAGO</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="new-image-container">
                <img src="/images/products/vet-gato.jpg" alt="Nueva Imagen">
                <div class="overlay-content">
                    <h3 class="overlay-text">Te recomendamos los mejores veterinarios</h3>
                    <button class="overlay-button-left">Ver más</button>
                    <button class="overlay-button-right">Ver más</button>
                    <p class="additional-text-right">Peluquería canina</p>
                </div>
            </div>
    
        </div>
        
        
    </main>

    <%- include('./partials/footer') %>

    <%- include('./partials/script',{
        disableBootstrap:true,
        disableHamburgers:true,
        disableGlider:false,
        disableGildMin:false,
        disableFontAwesome:true,
    }) %>

</body>

</html>