/* -------- MOBILE VIEW -------- */

.main-header {
    padding: 10px;
    background-color: var(--amarillo);
    display: flex;
    flex-wrap: wrap;
}
     /* ----- TOB-BAR ----- */
.main-header .top-bar {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-header .top-bar .free-ship {
    width: 100%;
    text-align: center;
    display: none;
    order: 1;
    font-weight: bold;
}

.main-header .top-bar .burger-menu {
    order: 1;
    margin: auto;
    padding: 0 7px;
    position: relative;
    z-index: 100;
}
.main-header .top-bar .burger-menu.is-active {
    position: fixed;
    top: 165px;
}

.main-header .top-bar .logo-container {
    margin: auto;
    order: 2;
    z-index: 99;
}

.main-header .top-bar .logo-container a {}

.main-header .top-bar .logo-container a img {
    width: 100%;
    height: 90px;
}
     /* ----- SEARCH-BAR ----- */
.main-header .search-bar {
    order: 4;
    margin: auto;
    width: 100%;
}

.main-header .search-bar .search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header .search-bar .search-form label {}

.main-header .search-bar .search-form input {
    background-color: var(--amarilloPastel);
    border: 1px solid var(--negro);
    padding: 5px;
    text-align: center;
}
.main-header .search-bar .search-form input::placeholder {
    font-family: var(--familyMontserrat);
    font-weight: 600;
}

.main-header .search-bar .search-form .search-icon {
    background-color: var(--amarilloPastel);
    border: 1px solid var(--negro);
    border-left: none;
    padding: 2px 5px;
}

.main-header .search-bar .search-form .search-icon i {
    font-size: 0.8rem;
}
     /* ----- USER-NAV ----- */
.main-header .top-bar .user-nav {
    margin: auto;
    font-weight: bold;
    font-family: var(--familyOpenSans);
    z-index: 99;
    opacity: 0;
    display: none;
}
.main-header .top-bar .user-nav.active {
    position: fixed;
    bottom: 20px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
}

.main-header .top-bar .user-nav .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-header .top-bar .user-nav .user-list li {
}

.main-header .top-bar .user-nav .user-list li a {
    font-size: 1.4rem;
    padding: 0 10px;
}
.main-header .top-bar .user-nav .user-list li a:hover {
    border-bottom: 3px solid var(--amarilloPastel);
}

.main-header .top-bar .user-nav .user-list li span {

}

.main-header .top-bar .user-nav .user-list li a i {}

     /* ----- BUY-CART ----- */

.main-header .top-bar .buy-cart-container {
    order: 3;
    margin: auto;
    font-size: 2rem;
}

.main-header .top-bar .buy-cart-container .buy-cart {}

.main-header .top-bar .buy-cart-container .buy-cart i {}

     /* ----- MAIN-NAV ----- */

.main-header .main-nav {
    font-weight: bold;
    font-family: var(--familyOpenSans);
    height: 0;
    opacity: 0;
}

.main-header .main-nav.active {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--amarillo);
    padding-top: 240px;
    opacity: 0.9;
    transition: all 1s;
}

.main-header .main-nav .main-list {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    font-size: 2rem;
}

.main-header .main-nav .main-list li {
    border: 3px solid var(--negro);
    border-right: 0;
    border-left: 0;
}

.main-header .main-nav .main-list li.list-index {
    border-bottom: 0;
}
.main-header .main-nav .main-list li.list-products {
    border-bottom: 0;
}
.main-header .main-nav .main-list li.list-contact {}


.main-header .main-nav .main-list li a {
}

.main-header .main-nav .main-list li .a-index {
    border-bottom: 0;
}

.main-header .main-nav .main-list li .a-index:hover {
    border-bottom: 3px solid var(--amarilloPastel);
}
.main-header .main-nav .main-list li .a-products {
}

.main-header .main-nav .main-list li .a-products:hover {
    border-bottom: 3px solid var(--amarilloPastel);
}
.main-header .main-nav .main-list li .a-contact {}

.main-header .main-nav .main-list li .a-contact:hover {
    border-bottom: 3px solid var(--amarilloPastel);
}

/* -------- TABLET VIEW -------- */

@media (min-width: 426px) {
    .main-header {}

    /* ----- TOB-BAR ----- */
    
    .main-header .top-bar {
        gap: 0;
    }
    
    .main-header .top-bar .free-ship {}
    
    .main-header .top-bar .burger-menu {
        display: none;
    }
    
    .main-header .top-bar .logo-container {
        order: 1;
    }

    .main-header .top-bar .logo-container a {}

    .main-header .top-bar .logo-container a img {}

    /* ----- SEARCH-BAR ----- */
    .main-header .search-bar {
        width: unset;
        order: 2;
    }
    
    .main-header .search-bar .search-form {
        justify-content: flex-end;
    }

    .main-header .search-bar .search-form label {}

    .main-header .search-bar .search-form input {}

    .main-header .search-bar .search-form .search-icon {}

    .main-header .search-bar .search-form .search-icon i {}

    /* ----- USER-NAV ----- */

    .main-header .top-bar .user-nav {
        order: 3;
        opacity: 1;
        width: 26%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    
    .main-header .top-bar .user-nav .user-list {}

    .main-header .top-bar .user-nav .user-list li {}

    .main-header .top-bar .user-nav .user-list li a {
        font-size: 0.7rem;
        padding: 0;
    }

    .main-header .top-bar .user-nav .user-list li span {

    }

    .main-header .top-bar .user-nav .user-list li a i {}

    /* ----- BUY-CART ----- */

    .main-header .top-bar .buy-cart-container {
        order: 4;
        margin: 0;
        position: absolute;
        right: 20px;
        top: 90px;
        font-size: 2rem
    }
    
    .main-header .top-bar .buy-cart-container .buy-cart {}
    
    .main-header .top-bar .buy-cart-container .buy-cart i {}

    /* ----- MAIN-NAV ----- */
    
    .main-header .main-nav {
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    

    .main-header .main-nav .main-list {
        font-size: 1rem;
        gap: 20px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .main-header .main-nav .main-list li {
        border: none
    }

    .main-header .main-nav .main-list li.list-index {}

    .main-header .main-nav .main-list li.list-products {}

    .main-header .main-nav .main-list li.list-contact {}

    .main-header .main-nav .main-list li a {}
    
    .main-header .main-nav .main-list li .a-index {}

    .main-header .main-nav .main-list li .a-index:hover {}

    .main-header .main-nav .main-list li .a-products {}

    .main-header .main-nav .main-list li .a-products:hover {}

    .main-header .main-nav .main-list li .a-contact {}

    .main-header .main-nav .main-list li .a-contact:hover {}
    
}

/* -------- DESKTOP VIEW -------- */

@media (min-width: 769px) {
    .main-header {}

    /* ----- TOB-BAR ----- */
    
    .main-header .top-bar {
        margin: auto
    }
    
    .main-header .top-bar .free-ship {
        display: inline-block;
    }

    .main-header .top-bar .burger-menu {}

    .main-header .top-bar .logo-container {
        margin: 0 30px;
        order: 2;
    }

    .main-header .top-bar .logo-container a {}

    .main-header .top-bar .logo-container a img {}

    /* ----- SEARCH-BAR ----- */
    
    .main-header .search-bar {
        width: 50%;
        order: 3;
    }
    
    .main-header .search-bar .search-form {}

    .main-header .search-bar .search-form label {}

    .main-header .search-bar .search-form input {
        width: 70%;
    }

    .main-header .search-bar .search-form .search-icon {
        padding: 5px 10px;
    }

    .main-header .search-bar .search-form .search-icon i {}

    /* ----- USER-NAV ----- */
    
    .main-header .top-bar .user-nav {
        order: 4;
        width: unset
    }
    
    .main-header .top-bar .user-nav .user-list {
        gap: 7px;
    }

    .main-header .top-bar .user-nav .user-list li {
}

    .main-header .top-bar .user-nav .user-list li a {
        font-size: .98rem;
    }
    
    .main-header .top-bar .user-nav .user-list li span {

    }

    .main-header .top-bar .user-nav .user-list li a i {}

    /* ----- BUY-CART ----- */

    .main-header .top-bar .buy-cart-container {
        order: 5;
        right: 110px;
        position: absolute;
        top: 122px;
        z-index: 100
    }
    
    .main-header .top-bar .buy-cart-container .buy-cart {}
    
    .main-header .top-bar .buy-cart-container .buy-cart i {}

    /* ----- MAIN-NAV ----- */
    
    .main-header .main-nav {
        position: relative;
    }

    .main-header .main-nav .main-list li {}

    .main-header .main-nav .main-list li.list-index {}

    .main-header .main-nav .main-list li.list-products {}
    
    .main-header .main-nav .main-list li.list-contact {}

    .main-header .main-nav .main-list li a {
        font-size: 1.5rem;
    }

    .main-header .main-nav .main-list li .a-index {}

    .main-header .main-nav .main-list li .a-index:hover {}

    .main-header .main-nav .main-list li .a-products {}

    .main-header .main-nav .main-list li .a-products:hover {}

    .main-header .main-nav .main-list li .a-contact {}

    .main-header .main-nav .main-list li .a-contact:hover {}

}