body{
    box-sizing: border-box;
    font-family: var(--familyMontserrat);
}

main.login-main{
    background: linear-gradient(rgba(200, 205, 218, 0.7), rgba(200, 205, 218, 0.8)), url(/images/other/fondo-login.jpeg);
    background-position: center center;
    background-size: cover;
}

main.login-main h1.titulo-login{ text-align: center;}

main.login-main form.form-principal{}

main.login-main form.form-principal .contenedor-form{}

main.login-main form.form-principal .contenedor-form .usuario{}

main.login-main form.form-principal .contenedor-form .usuario label.usuario{}

main.login-main form.form-principal .contenedor-form .usuario input.usuario{}

main.login-main form.form-principal .contenedor-form .contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia label.contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia input.contrasenia{}

main.login-main form.form-principal .recordar{}

main.login-main form.form-principal .recordar input.checkbox{}

main.login-main form.form-principal .recordar label.recordar{}

main.login-main form.form-principal .recordar a.recordarContra{}

main.login-main form.form-principal .contenedor-button{}

main.login-main form.form-principal .contenedor-button .boton{}

main.login-main form.form-principal .contenedor-button .inicio{}

main.login-main form.form-principal .contenedor-button .inicio p{}

main.login-main form.form-principal .contenedor-button .inicio a.crear-cuenta{}



/*LOGIN TABLET */
@media (min-width: 320px) {
main.login-main{
    height: auto;
    padding-top: 20px;
}

main.login-main h1.titulo-login{
    text-align: center;
}

main.login-main form.form-principal{
    width: 70%;
    margin: auto;
    padding: 20px 0;
}

main.login-main form.form-principal .contenedor-form{
    margin: 20px 0;
}

main.login-main form.form-principal .contenedor-form .usuario{
    margin-bottom: 5px;
}

main.login-main form.form-principal .contenedor-form .usuario label.usuario{}

main.login-main form.form-principal .contenedor-form .usuario input.usuario{
    width: 100%;
    height: 28px;
    border-radius: 3px;
    border: solid 2px gray;
}

main.login-main form.form-principal .contenedor-form .contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia label.contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia input.contrasenia{
    width: 100%;
    height: 28px;
    border-radius: 3px;
    border: solid 2px gray;
}

main.login-main form.form-principal .recordar{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

main.login-main form.form-principal .recordar input.checkbox{}

main.login-main form.form-principal .recordar label.recordar{
    font-weight: bold;
}

main.login-main form.form-principal .recordar a.recordarContra{display: inline-flex;text-decoration: none;color: black;text-align: end;font-weight: bold;}

main.login-main form.form-principal .contenedor-button{}

main.login-main form.form-principal .contenedor-button .boton{
    width: 50%;
    margin: 20px auto;
}

main.login-main form.form-principal .contenedor-button .boton button.submit{
    padding: 7px 7px;
    width: 100%;
    background-color: var(--naranjaig);
    color: white;
    border-radius: 8px;
    border: none;
}

main.login-main form.form-principal .contenedor-button .inicio{
    margin-top: 20px;
}

main.login-main form.form-principal .contenedor-button .inicio p{
    text-align: center;
    margin-top: 10px;
}

main.login-main form.form-principal .contenedor-button .inicio a.crear-cuenta{
    display: block;
    text-decoration: none;
    text-align: center;
    color: chocolate;
}
}





/*LOGIN DESKTOP */
@media (min-width: 768px) {
main.login-main{}

main.login-main h1.titulo-login{}

main.login-main form.form-principal{
    width: 60%;
}

main.login-main form.form-principal .contenedor-form{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

main.login-main form.form-principal .contenedor-form .usuario{}

main.login-main form.form-principal .contenedor-form .usuario label.usuario{}

main.login-main form.form-principal .contenedor-form .usuario input.usuario{
    width: 100%;
}

main.login-main form.form-principal .contenedor-form .contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia label.contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia input.contrasenia{
    width: 100%;
}

main.login-main form.form-principal .recordar{
    display: flex;
}

main.login-main form.form-principal .recordar input.checkbox{
    width: 5%;
}

main.login-main form.form-principal .recordar label.recordar{width: 30%;}

main.login-main form.form-principal .recordar a.recordarContra{width: 50%;flex-grow: 1;justify-content: end;}

main.login-main form.form-principal .contenedor-button{}

main.login-main form.form-principal .contenedor-button .boton{
    width: 30%;
}

main.login-main form.form-principal .contenedor-button .boton button.submit{
    width: 100%;
    margin: 20px auto;
}

main.login-main form.form-principal .contenedor-button .inicio{}

main.login-main form.form-principal .contenedor-button .inicio p{}

main.login-main form.form-principal .contenedor-button .inicio a.crear-cuenta{}
}



/*LOGIN ESCRITORIO */
@media (min-width: 1024px) {
main.login-main{
    height: 500px;
}

main.login-main h1.titulo-login{}

main.login-main form.form-principal{
    background-color: rgba(239, 184, 15, 0.4);
    max-width: 40%;
    padding: 20px;
    position: absolute;
    right: 40px;
    top: 220px;
}

main.login-main form.form-principal .contenedor-form{}

main.login-main form.form-principal .contenedor-form .usuario{}

main.login-main form.form-principal .contenedor-form .usuario label.usuario{}

main.login-main form.form-principal .contenedor-form .usuario input.usuario{}

main.login-main form.form-principal .contenedor-form .contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia label.contrasenia{}

main.login-main form.form-principal .contenedor-form .contrasenia input.contrasenia{}

main.login-main form.form-principal .recordar{}

main.login-main form.form-principal .recordar input.checkbox{
    width: 20px;
}

main.login-main form.form-principal .recordar label.recordar{
    width: 40%;
    justify-content: flex-start;
}

main.login-main form.form-principal .recordar a.recordarContra{
    width: 80%;
}

main.login-main form.form-principal .contenedor-button{}

main.login-main form.form-principal .contenedor-button .boton{}

main.login-main form.form-principal .contenedor-button .boton button.submit

main.login-main form.form-principal .contenedor-button .inicio{}

main.login-main form.form-principal .contenedor-button .inicio p{}

main.login-main form.form-principal .contenedor-button .inicio a.crear-cuenta{}
}




