/* -------- MOBILE VIEW -------- */

.productDetail {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    flex-direction: column;
}

/* -------- THUMBNAILS -------- */
.productDetail .thumbnails-container {
    display: none;
}

.productDetail .thumbnails-container .thumb-img-container {}

.productDetail .thumbnails-container .thumb-img-container .thumb-img {}

/* -------- BREADCRUMB -------- */

.productDetail .breadcrumb-container {}

.productDetail .breadcrumb-container .breadcrum {}

.productDetail .breadcrumb-container .breadcrum ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.productDetail .breadcrumb-container .breadcrum ul li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.productDetail .breadcrumb-container .breadcrum ul li::after {
    content: "\f0da";
    font-family: "FontAwesome";
    color: var(--amarillo);
    padding: 0 5px;
}

.productDetail .breadcrumb-container .breadcrum ul li:last-child::after {
    content: "";
}


.productDetail .breadcrumb-container .breadcrum ul li a {
    font-family: var(--familyMontserrat);
}
.productDetail .breadcrumb-container .breadcrum ul li:last-child{
    font-weight: 500;
}

/* -------- PRODUCT GLIDER -------- */

.productDetail .prodDetail-glider-container {
    order: 2;
}

.productDetail .prodDetail-glider-container .prodDetail-glider {}

.productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container {}

.productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container {
    width: 99%;
    height: 270px;
}

.productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.productDetail .prodDetail-glider-container .glider-prev {}

.productDetail .prodDetail-glider-container .glider-prev i {
    color: var(--amarillo);
}

.productDetail .prodDetail-glider-container .glider-next {}

.productDetail .prodDetail-glider-container .glider-next i {
    color: var(--amarillo);
}

.productDetail .prodDetail-glider-container .dots {}

/* --- PRODUCT DESCRIPTION --- */

.productDetail .prodDetail-container {
    display: flex;
    gap: 10px;
    order: 3;
    flex-wrap: wrap;
    align-items: center;
}

.productDetail .prodDetail-container .prodDetail-title {
    width: 100%;
}

.productDetail .prodDetail-container .prodDetail-price {
    color: var(--amarillo);
    font-weight: bold;
    width: 100%;
    font-size: 1.6rem;
}

.productDetail .prodDetail-container .product-quantity-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--amarillo);
    border: 7px solid var(--amarillo);
    border-radius: 20px;
    justify-content: center;
}

.productDetail .prodDetail-container .product-quantity-container .decrease-button {
    background-color: var(--amarillo);
    border:none;
    padding: 0 5px;
}

.productDetail .prodDetail-container .product-quantity-container .quantity {
    width: 25px;
}

.productDetail .prodDetail-container .product-quantity-container .quantity label {}

.productDetail .prodDetail-container .product-quantity-container .quantity input {
    text-align: center;
    font-weight: bold;
    background-color: var(--amarillo);
    border: none;
    width: 25px;
    margin: 0;
}

.productDetail .prodDetail-container .product-quantity-container .quantity input::-webkit-outer-spin-button, .productDetail .prodDetail-container .product-quantity-container .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.productDetail .prodDetail-container .product-quantity-container .increase-button {
    background-color: var(--amarillo);
    border:none;
    padding: 0 5px;
}

.productDetail .prodDetail-container .add-to-cart {}

.productDetail .prodDetail-container .add-to-cart .btn-cart {}

.productDetail .prodDetail-container .add-to-cart .btn-cart button {
    border: 7px solid var(--amarillo);
    border-radius: 20px;
    background-color: var(--amarillo);
    color: var(--negro);
    font-weight: bold;
    text-align: center;
}

/* -------- DESCRIPTION -------- */

.productDetail .description-container {
    order: 4;
}

.productDetail .description-container .description-title {
    color: var(--amarillo);
    width: 100%;
}

.productDetail .description-container .description-paragraph {
    font-family: var(--familyMontserrat);
    font-weight: 500;
}

/* -------- RELATED PRODUCTS -------- */

.productDetail .relatedProduct-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    order: 5;
}

.productDetail .relatedProduct-container .relatedProduct-title {
    color: var(--amarillo);
    width: 100%;
}

.productDetail .relatedProduct-container .relatedProd{
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-img-container {
    width: 100%;
    height: 170px;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-img-container .relatedProd-img {
    width: 100%;
    height: 100%;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 16px;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-description h5 {
    text-align: center;
    font-size: 1.1rem;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-description p {
    color: var(--amarillo);
    font-weight: bold;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart {
    background-color: var(--amarillo);
    padding: 6px 12px;
    border-radius: 5px;
}

.productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart i {}

/* -------- TABLET VIEW -------- */

@media (min-width: 426px) {
    .productDetail {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    /* -------- THUMBNAILS -------- */
    .productDetail .thumbnails-container {}

    .productDetail .thumbnails-container .thumb-img-container {}

    .productDetail .thumbnails-container .thumb-img-container .thumb-img {}
    /* -------- BREADCRUMB -------- */
    
    .productDetail .breadcrumb-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    
    .productDetail .breadcrumb-container .breadcrum {}
    
    .productDetail .breadcrumb-container .breadcrum ul {}
    
    .productDetail .breadcrumb-container .breadcrum ul li {}
    
    .productDetail .breadcrumb-container .breadcrum ul li::after {}
    
    .productDetail .breadcrumb-container .breadcrum ul li:last-child::after {}
    
    .productDetail .breadcrumb-container .breadcrum ul li a {}
    
    /* -------- PRODUCT GLIDER -------- */
    
    .productDetail .prodDetail-glider-container {
        width: 50%;
        margin: 0;
    }
    
    .productDetail .prodDetail-glider-container .prodDetail-glider {}
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container {}
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container {}
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container img {}
    
    .productDetail .prodDetail-glider-container .glider-prev {}
    
    .productDetail .prodDetail-glider-container .glider-prev i {}
    
    .productDetail .prodDetail-glider-container .glider-next {}
    
    .productDetail .prodDetail-glider-container .glider-next i {}
    
    .productDetail .prodDetail-glider-container .dots {}
    
    /* --- PRODUCT DESCRIPTION --- */
    
    .productDetail .prodDetail-container {
        width: 50%;
        gap: 15px;
        align-content: flex-start;
        padding: 0px 3px;
    }
    
    .productDetail .prodDetail-container .prodDetail-title {}
    
    .productDetail .prodDetail-container .prodDetail-price {}
    
    .productDetail .prodDetail-container .product-quantity-container {}
    
    .productDetail .prodDetail-container .product-quantity-container .decrease-button {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity label {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity input {}
    
    .productDetail .prodDetail-container .product-quantity-container .increase-button {}
    
    .productDetail .prodDetail-container .add-to-cart {}
    
    .productDetail .prodDetail-container .add-to-cart .btn-cart {}

    .productDetail .prodDetail-container .add-to-cart .btn-cart button {}

    .productDetail .description-container {}
    
    .productDetail .description-container .description-title {}
    
    .productDetail .description-container .description-paragraph {}
    
    /* -------- RELATED PRODUCTS -------- */
    
    .productDetail .relatedProduct-container {}
    
    .productDetail .relatedProduct-container .relatedProduct-title {}
    
    .productDetail .relatedProduct-container .relatedProd {
        width: calc(50% - 5px);
    }
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-img-container {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-img-container .relatedProd-img {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description h5 {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description p {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart  {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart i {}

}

/* -------- DESKTOP VIEW -------- */

@media (min-width: 769px) {

    .productDetail {}

    /* -------- THUMBNAILS -------- */
    .productDetail .thumbnails-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        order: 2;
        padding: 0 5px;
    }


    .productDetail .thumbnails-container .thumb-img-container {
        border: 1px solid var(--gris);
    }
    
    .productDetail .thumbnails-container .thumb-img-container .thumb-img {
        width: 90px;
        height: 90px;
        object-fit: fill;
    }
    
    /* -------- BREADCRUMB -------- */
    
    .productDetail .breadcrumb-container {}
    
    .productDetail .breadcrumb-container .breadcrum {}
    
    .productDetail .breadcrumb-container .breadcrum ul {}
    
    .productDetail .breadcrumb-container .breadcrum ul li {}
    
    .productDetail .breadcrumb-container .breadcrum ul li::after {}
    
    .productDetail .breadcrumb-container .breadcrum ul li:last-child::after {}
    
    .productDetail .breadcrumb-container .breadcrum ul li a {}
    
    /* -------- PRODUCT GLIDER -------- */
    
    .productDetail .prodDetail-glider-container {
        width: 50%;
    }
    
    .productDetail .prodDetail-glider-container .prodDetail-glider {}
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container {}
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container {
        width: 100%;
    }
    
    .productDetail .prodDetail-glider-container .prodDetail-glider .prodDetail-content-container .prodDetail-image-container img {}
    
    .productDetail .prodDetail-glider-container .glider-prev {
        left: 10%;
    }
    
    .productDetail .prodDetail-glider-container .glider-prev i {}
    
    .productDetail .prodDetail-glider-container .glider-next {
        right: 10%;
    }
    
    .productDetail .prodDetail-glider-container .glider-next i {}
    
    .productDetail .prodDetail-glider-container .dots {}
    
    /* --- PRODUCT DESCRIPTION --- */
    
    .productDetail .prodDetail-container {
        width: 35%;
        padding: 0 10px;
    }
    
    .productDetail .prodDetail-container .prodDetail-title { }
    
    .productDetail .prodDetail-container .prodDetail-price {}
    
    .productDetail .prodDetail-container .product-quantity-container {}
    
    .productDetail .prodDetail-container .product-quantity-container .decrease-button {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity label {}
    
    .productDetail .prodDetail-container .product-quantity-container .quantity input {}
    
    .productDetail .prodDetail-container .product-quantity-container .increase-button {}
    
    .productDetail .prodDetail-container .add-to-cart {}
    
    .productDetail .prodDetail-container .add-to-cart .btn-cart {}

    .productDetail .prodDetail-container .add-to-cart .btn-cart button {}
    
    .productDetail .description-container {}
    
    .productDetail .description-container .description-title {}
    
    .productDetail .description-container .description-paragraph {}
    
    /* -------- RELATED PRODUCTS -------- */
    
    .productDetail .relatedProduct-container {}
    
    .productDetail .relatedProduct-container .relatedProduct-title {}
    
    .productDetail .relatedProduct-container .relatedProd {
        width: calc(24% - 1px);
    }
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-img-container {
    height: 220px;
}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-img-container .relatedProd-img {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description h5 {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description p {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart {}
    
    .productDetail .relatedProduct-container .relatedProd .relatedProd-description a.relatedProd-buycart i {}
    
}