<h1>Lista de productos</h1>
<div class="dash-topbar">
  <form action="/admin/productos/buscar" method="get">
    <label for="dash-search"></label>
    <input
      type="text"
      placeholder="Buscar Producto"
      name="dash-search"
      id="dash-search"
      value=""
    />
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <div class="dash-filter">
    <div><span>Mostrar:</span></div>
    <select name="filterSelect" id="filterSelect">
      <option value="Todos los productos">Todos los productos</option>
      <option value="Indumentaria">Indumentaria</option>
      <option value="Accesorios">Accesorios</option>
      <option value="Juguetes">Juguetes</option>
    </select>
  </div>

  <div class="dash-addProduct-container">
    <a class="dash-addProduct" href="/admin/crear-producto">
      <span>Crear producto</span>
      <i class="dash-plusButton fa-solid fa-plus"></i>
    </a>
  </div>
</div>

<table class="listProduct-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imagen</th>
      <th scope="col">Imagenes Secundarias</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoría</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Descuento</th>
      <th scope="col">Stock</th>
      <th scope="col">Colores</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(p => { %>
      <tr>
        <th scope="row"><%= p.id %></th>
        <td>
          <img
            class="dash-img-product"
            src="/images/products/<%= p.image %>"
            alt="product image"
          />
        </td>
        <td class="dash-imgSecondary-container">
          <img
            class="dash-imgSecondary-product"
            src="/images/products/ratita-02.jpg"
            alt="product image"
          />
          <img
            class="dash-imgSecondary-product"
            src="/images/products/ratita-03.jpg"
            alt="product image"
          />
          <img
            class="dash-imgSecondary-product"
            src="/images/products/ratita-04.jpg"
            alt="product image"
          />
        </td>
        <td>Ratita Piel Con Cola Color x 3 Unidades</td>
        <td>Juguetes</td>
        <td class="td-description">
          Juguete interactivo que previene la depresión en gatos. Set de 3
          ratoncitos en felpa de colores surtidos, con chifle para que el Gato
          Salte, Olfatee, Sienta, Juegue y ademas no pare de correr ,disfruta
          jugando con tu gato a atrapar y a correr. Para todo tipo de gatos.
        </td>
        <td class="td-price">1000</td>
        <td class="td-sale">20</td>
        <td class="td-stock">1</td>
        <td class="td-colors">
          <i style="color: orange" class="fa-solid fa-circle"></i>
          <i style="color: red" class="fa-solid fa-circle"></i>
          <i style="color: black" class="fa-solid fa-circle"></i>
        </td>
        <td>
          <div class="dash-actionButtons" role="group">
            <a class="infoButton" href="">Info</a>
            <a class="editButton" href="/admin/editar-producto">Editar</a>
            <a class="deleteButton" href="">Eliminar</a>
          </div>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>