<header class="main-header">
    <div class="top-bar">
        <span class="free-ship">ENVIOS GRATIS A PARTIR DE $25.000</span>
        <button class="burger-menu hamburger hamburger--spin" type="button">
            <span class="burger-container hamburger-box">
              <span class="burger hamburger-inner"></span>
            </span>
        </button>
        <div class="logo-container">
            <a href="/"><img src="/images/icon/logo.png" alt="logo"></a>
        </div>
        <div class="search-bar">
            <form class="search-form" action="/search" method="post">
                <label for="search"></label>
                <input type="text" name="search" id="search" value="" placeholder="¿Que estas buscando?">
                <button type="submit" class="search-icon">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <nav class="user-nav" id="user-nav">
            <ul class="user-list">
                <li><a href="/autenticacion/iniciar">Iniciar sesión</a></li>
                <li><span class="separator">|</span></li>
                <li><a href="/autenticacion/registro">Registrate</a></li>
            </ul>
        </nav>
        <div class="buy-cart-container">
            <a class="buy-cart" href="/carrito-compra"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    
    <nav class="main-nav" id="navigation">
        <ul class="main-list">
            <li class="list-index"><a class="a-index" href="/">INICIO</a></li>
            <li class="list-products"><a class="a-products" href="/productos">PRODUCTOS</a></li>
            <li class="list-index"><a class="a-index" href="/admin/productos">ADMINISTRADOR</a></li>
            <li class="list-contact"><a class="a-contact" href="/#footer">CONTACTO</a></li>
        </ul>
    </nav>

</header>