<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',  {view: "Detalle de productos", bootstrapCSSDisabled:true}) %>
<body>
    <%- include('../partials/header') %>

    <main class="productDetail">
        <div class="thumbnails-container">
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/ratita-02.jpg" alt="producto 1"></figure>
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/ratita-03.jpg" alt="producto 1"></figure>
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/ratita-04.jpg" alt="producto 1"></figure>
        </div>
        
        <div class="glider-contain prodDetail-glider-container">
            <div class="glider prodDetail-glider">
              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/ratita-01.jpg" alt="producto 1">
                </figure>
              </div>
    
              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/ratita-02.jpg" alt="producto 1">
                </figure>
              </div>

              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/ratita-03.jpg" alt="producto 1">
                </figure>
              </div>

              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/ratita-04.jpg" alt="producto 1">
                </figure>
              </div>
            </div>
          
            <button aria-label="Previous" class="glider-prev">
                <i class="fa-solid fa-caret-left"></i>
            </button>
            <button aria-label="Next" class="glider-next">
                <i class="fa-solid fa-caret-right"></i>
            </button>
            <div role="tablist" class="dots"></div>
        </div>
        <div class="prodDetail-container">
            <div class="breadcrumb-container">
                <nav class="breadcrum">
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="#">Juguetes</a>
                        </li>
                        <li>
                            <a href="#">Gatos</a>
                        </li>
                        <li>
                            <a href="#">RATITA PIEL CON COLA COLOR X 3 UNIDADES</a>
                        </li>
                    </ul>  
                </nav>
            </div>
            <h2 class="prodDetail-title">Ratita Piel Con Cola Color x 3 Unidades</h2>
            <p class="prodDetail-price">$1.000,00</p>
            <div class="product-quantity-container">
                    <button class="decrease-button">-</button>
                    <div class="quantity">  
                        <label for="quantity"></label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1">
                    </div>
                    <button class="increase-button">+</button>
            </div>
            <div class="add-to-cart">
                <div class="btn-cart">
                    <button>AGREGAR AL carrito-compra</button>
                </div>
            </div>
        </div>
        <div class="description-container">
            <h2 class="description-title">Descripción del producto</h2>
            <p class="description-paragraph">Juguete interactivo que previene la depresión en gatos. 
                Set de 3 ratoncitos en felpa de colores surtidos, con chifle para que el Gato Salte, Olfatee, Sienta, Juegue y ademas no pare de correr ,disfruta jugando con tu gato a atrapar y a correr.
                Para todo tipo de gatos.
            </p>
        </div>

        <div class="relatedProduct-container">
            <h2 class="relatedProduct-title">Productos relacionados</h2>
            <article class="relatedProd">
                <figure class="relatedProd-img-container">
                    <a href="/productos/detalle">
                        <img class="relatedProd-img" src="/images/products/relatedProd-01.jpg" alt="related product 1">
                    </a>
                </figure>
                <div class="relatedProd-description">
                    <a href="/productos/detalle">
                        <h5>Juguete Para Gato Pelota Con Motor Y Raton</h5>
                    </a>
                    <p>$ 9.112,00</p>
                    <a class="relatedProd-buycart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                </div>    
            </article>

            <article class="relatedProd">
                <figure class="relatedProd-img-container">
                    <a href="/productos/detalle">
                        <img class="relatedProd-img" src="/images/products/relatedProd-02.jpg" alt="related product 2">
                    </a>
                </figure>
                <div class="relatedProd-description">
                    <a href="/productos/detalle">
                        <h5>Cartocat Rascador Ondeado</h5>
                    </a>
                    <p>$ 4.300,00</p>
                    <a class="relatedProd-buycart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>

            <article class="relatedProd">
                <figure class="relatedProd-img-container">
                    <a href="/productos/detalle">
                        <img class="relatedProd-img" src="/images/products/relatedProd-03.jpg" alt="related product 3">
                    </a>
                </figure>
                <div class="relatedProd-description">
                    <a class="relatedProd-title-link" href="/productos/detalle">
                        <h5>Varita Para Gato Spiderman</h5>
                    </a>
                    <p>$ 5.000,00</p>
                    <a class="relatedProd-buycart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>

            <article class="relatedProd">
                <figure class="relatedProd-img-container">
                    <a href="/productos/detalle">
                        <img class="relatedProd-img" src="/images/products/relatedProd-04.jpg" alt="related product 4">
                    </a>
                </figure>
                <div class="relatedProd-description">
                    <a href="/productos/detalle">
                        <h5>Rascador Para Gatos Dos Niveles Sisal Y Peluche </h5>
                    </a>
                    <p>$ 5.000,00</p>
                    <a class="relatedProd-buycart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                </div>
            </article>
        </div>
        
    </main>
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts',{ disabledBootstrapJS:true }) %>
    
</body>
</html>